@font-face {
    font-family: Quicksand;
    src:    url('/fonts/Quicksand_Bold.otf'),
            url('/fonts/Quicksand_Bold_Oblique.otf'),
            url('/fonts/Quicksand_Book.otf'), 
            url('/fonts/Quicksand_Book_Oblique.otf'), 
            url('/fonts/Quicksand_Dash.otf'),
            url('/fonts/Quicksand_Light.otf'),
            url('/fonts/Quicksand_Light_Oblique.otf');    
}

body
{
    font-family: Quicksand;
}

div{
    padding: 2em;
}

h1{
    margin-left: 2em;
}

.intro{
    background-color: lightgrey;
}

/* .our_team > div {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7em;
} */

img{
    width: 100%;
    height: auto;
    padding: 0em 4em;
    justify-self: center;
}

.intro-div{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 7em;
}

.member_left {
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-gap: 5em;
    justify-content: start;
}


.member_right{
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-gap: 5em;
    justify-content: right;
}