@font-face{
    font-family: 'Quicksand';
    font-weight: bold;
    src: url('../../asserts/fonts/Quicksand-Bold.ttf')
}
@font-face{
    font-family: 'Quicksand';
    font-weight: normal;
    src: url('../../asserts/fonts/Quicksand-Regular.ttf')
}

@font-face{
    font-family: 'Poppins';
    font-weight: bold;
    src: url('../../asserts/fonts/Poppins-Bold.ttf')
}
@font-face{
    font-family: 'Poppins';
    font-weight: normal;
    src: url('../../asserts/fonts/Poppins-Regular.ttf')
}



.form{
    background-image: url('../../asserts/images/Estacionesqui40op.png');
    background-size: contain;
    background-repeat: no-repeat;

    form{
        width: 80%;
    }
    
    .row {
        padding-left: 5vw;
        padding-top: 5vw;
        padding-right: 5vw;
        font-family: Poppins;
        font-size: bold;
        align-content: center;
    }

    .button1 {
        background-color: #36A9E1; /* Blue */
        border: none;
        color: black;
        padding: 8px 30px;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size: 18px;
        margin: 250px 250px;
        cursor: pointer;
        border-radius: 40px;
        font: "Poppins";
        font-weight: bold;
        margin-left: 80%;
        margin-top: 2%;
        margin-bottom: 0;
    }
    
    .Flecha {
        float: left;
        margin-left: 5%;
        margin-top: 10%;
        height: 2.2vw;
    }
    
    .titletop {
        font-size: 1vw;
        margin-top: 30%;
        margin-right: 2px;
        font-family: 'Poppins';
        font-weight: bold;
        color:#5D5D5D;
    }
    
    // .titlecontacta {
    //     font-size: 1.2vw;
    //     padding-bottom: 0%;
    //     margin-top: 6.5%;
    //     margin-right: 400px;
    //     margin-bottom: 1%;
    //     font-family: 'Poppins';
    //     font-weight: normal;
    // }

    // .Aro {
    //     float: left;
    //     margin-left: 5%;
    //     margin-top: 4%;
    //     height: 4.2vw;
    // }
}