@font-face{
    font-family: 'Quicksand';
    font-weight: bold;
    src: url('../../asserts/fonts/Quicksand-Bold.ttf')
}
@font-face{
    font-family: 'Quicksand';
    font-weight: normal;
    src: url('../../asserts/fonts/Quicksand-Regular.ttf')
}

@font-face{
    font-family: 'Poppins';
    font-weight: bold;
    src: url('../../asserts/fonts/Poppins-Bold.ttf')
}
@font-face{
    font-family: 'Poppins';
    font-weight: normal;
    src: url('../../asserts/fonts/Poppins-Regular.ttf')
}

.home {
    line-height: 1;
    margin: 0px;

    #video {
        position: absolute; 
        background-attachment: fixed;
        width: 100%;
        margin-top: -8vw;
        top: 0;
        left: 0;
        right: 0;
    }

    #main p {
        margin-top: 1vw;
        font-family: 'Poppins';
        color: #5D5D5D;
    }

    #header {
        width: 20%;
    }

    #logo {
        width: auto;
        max-width: 10vw;
        height: auto;
        display: block;
        z-index: 2;
        padding-top: 8vw;
        padding-bottom: 20vw;
        margin-left: auto;
        margin-right: auto;
    }

    #cont1 {
        margin: 0px;
        padding-top: 3%;
        width: 100%;
        background-color: #F0F0F0;
        padding-left: 5%;
        float: left;
        line-height: 1;
        position: absolute;
    }

    .line {
        background-color: #36A9E1;
        height: 0.2vw;
        width: 30%;
        display: inline-block;
        margin-top: 0%;
        margin-bottom: 5%;
    }

    .title {
        font-weight: bold;
        font-size: 3.5vw !important;
        padding-bottom: 1%;
    }

    .subtitle {
        font-weight: bold;
        font-size: 2vw;
    }

    .summary {
        line-height: 1.6;
        font-size: 1.5vw;
        color:#333333;
        font-weight: 500;
        width: 70%;
    }

    .summary2 {
        line-height: 1.6;
        font-size: 1.5vw;
        color:#5D5D5D;
        font-weight: 500;
        padding-top: 3vw;
        padding-right: 10vw;
    }

    .img {
        float: left;
        margin-left: 20%;
        margin-top: 2%;
        height: 30vw;
    }

    #rpi {
        float: left;
        height: 20vw;
        margin-left: 0;
    }

    #dron {
        height: 15vw;
        margin-left: 10%;
    }

    #mobile {
        margin-left: 0;
    }

    .vl {
        border-left: 4px solid #36A9E1;
        height: 15vw;
    }

    #mobile {
        height: 13vw;
        padding-top: 3vw;
        float: right;
    }

    .summary-blue {
        font-family: 'Quicksand';
        font-size: 1.5vw;
        line-height: 1.5;
        color: #000000;
        padding-left: 2vw;
        padding-top: 2vw;
        padding-bottom: 5vw;
        margin-right: 3vw;
        float: left;
        font-weight: normal;
    }

    .title-blue {
        font-family: 'Poppins';
        font-weight: bold;
        font-size: 3.5vw;
        color: #000000;
        margin-right: 3vw;
        margin-top: 7vw !important; 
        padding-left: 2vw;
        width: 60%;
        float: left;
        text-align: right;
    }

    #youtube {
        height: 25vw;
        float: left;
        position: absolute;
        bottom: 3vw;
        right: 0;
        margin-right: 5vw;
    }

    #image-blue {
        display: contents;
    }

    .language{
        text-align: end;
    }
    img.language  {
        float: right;
        margin-top: -1vw;
        margin-right: -0.5vw;
    }

    .dropdown  {
        margin-top: 2vw;
        right: 0;
    }

    .intro {
        background: #F0F0F0;
        padding-left: 8vw;
        padding-top: 9vw;
        padding-bottom: 5vw;
        line-height: 1;
        font-family: 'Poppins';
        font-size: bold
    }

    .text {
        background: #FFFFFF;
        padding-left: 8vw;
        padding-top: 5vw;
        padding-bottom: 5vw;;
        line-height: 1;
        font-family: 'Poppins';
        font-size: bold;
    }

    .left-text{
        background: #FFFFFF;
        padding-left: 0vw;
        padding-top: 5vw;
        padding-bottom: 5vw;;
        line-height: 1;
        font-family: 'Poppins';
        font-size: bold;
    }

    .blue {
        background: #36A9E1;
        padding-left: 5vw;
        padding-right: 10vw;
    }
}

.row {
    margin:0 !important;
}