@font-face{
    font-family: 'Poppins';
    font-weight: 400;
    src: url('../../asserts/fonts/Poppins-SemiBold.ttf')
}
@font-face{
    font-family: 'Poppins';
    font-weight: 'normal';
    src: url('../../asserts/fonts/Poppins-Regular.ttf')
}

#footer .img {
        height: 5vw;
        margin-top: 1.5vw;
}

#footer {
    background-image: url("../../asserts/images/background.jpeg");
    width: 100%;
    padding: 0;
    margin: 0;

    .socialNetworks {
        width: 3vw;
        padding-top: 2vw;
        padding-right: 1vw;
    }

}