@font-face{
    font-family: 'Poppins';
    font-weight: 400;
    src: url('./Poppins-SemiBold.ttf')
}
@font-face{
    font-family: 'Poppins';
    font-weight: 'normal';
    src: url('./Poppins-Regular.ttf')
}

body {
    margin: 0;
    padding: 0;
}

.img {
    height: 10vw;
}

#footer {
    background-image: url("./background.jpeg");
    width: 100%;
    padding: 0;
    margin: 0;
}